In [1]:
2+2*2+2

8

In [2]:
(2+2)*(2+2)

16

In [3]:
a=6
b=8
print(f'{a} is {b}')

6 is 8

In [1]:
def myfunc(name):
    print(f'Hello {name}')
    print(f'Hello {name}')
myfunc('world')

Hello world
Hello world

In [5]:
def myfunc(a):
    if a is True:
        return 'Hello'
    elif a is False:
        return 'Goodbye'
myfunc(True)

'Hello'

In [6]:
print(' {1} {0}'.format(a,b))

 8 6

In [7]:
a='Hello World'
a[8]

'r'

In [8]:
print(a)

Hello World

In [9]:
print(a[8])

r

In [10]:
print(a[-3])

r

In [11]:
a[8]

'r'

In [12]:
'hello world'[8]

'r'

In [13]:
'tinker'[1:4]

'ink'

In [14]:
'hello {}'.format('world')

'hello world'

In [15]:
print('hello {}'.format('world'))

hello world

In [16]:
d={'key1':['a','b','c']}

In [17]:
d['key1']

['a', 'b', 'c']

In [18]:
d['key1'][2]

'c'

In [19]:
d['key1'][2].upper()

'C'

In [20]:
letter=d['key1'][2]

In [21]:
letter.upper()

'C'

In [22]:
d['key1']

['a', 'b', 'c']

In [23]:
myset=set()

In [24]:
myset.add(1)

In [25]:
myset

{1}

In [26]:
m=set()

In [27]:
m={1,2,3}

In [28]:
m

{1, 2, 3}

In [29]:
m.add(4)

In [30]:
m

{1, 2, 3, 4}

In [31]:
m.add(1)

In [32]:
m

{1, 2, 3, 4}

In [33]:
m={4,5,6}

In [34]:
m

{4, 5, 6}

In [35]:
type(m)

set

In [36]:
a={1,2,3,4,4}

In [37]:
a

{1, 2, 3, 4}

In [38]:
type(a)

set

In [39]:
b=(1,2,3,4,5)

In [40]:
b

(1, 2, 3, 4, 5)

In [41]:
type(b)

tuple

In [42]:
b.index(4)

3

In [43]:
c=[1,2,3,4]

In [44]:
type(c)

list

In [45]:
c.extend(c)

In [46]:
c

[1, 2, 3, 4, 1, 2, 3, 4]

In [47]:
d={'j':2,'k':2}

In [48]:
type(d)

dict

In [49]:
d.items()

dict_items([('j', 2), ('k', 2)])

In [50]:
set("aabbvvccjjj")

{'a', 'b', 'c', 'j', 'v'}

In [51]:
set('ajshjhjhsj')

{'a', 'h', 'j', 's'}

In [52]:
pwd

'C:\\Users\\Sandeep'

In [53]:
num='hello world'

In [54]:
print('num')

num

In [55]:
print(num)

hello world

In [56]:
x = open('test.txt','w')
x.write('Hello World')
x.close()

In [57]:
type(x)

_io.TextIOWrapper

In [58]:
x=open('test.txt')

In [59]:
x.read()

'Hello World'

In [60]:
x.seek(0)

0

In [61]:
def sleep_in(weekday, vacation):
  
    if not weekday or vacation:
        return True
    else:
        return False

In [62]:
sleep_in(True, False)

False

In [63]:
def parrot_trouble(talking, hour):
  if talking and (20<hour or 7>hour):
    return True
  else: return False

In [64]:
parrot_trouble(True, 8)

False

In [65]:
def parrot_trouble(talking, hour):
  if talking and 7<hour<20:
    return True
  else: return False

In [66]:
parrot_trouble(True, 8)

True

In [67]:
def makes10(a, b):
  return (a or b)==10 or a+b==10

In [68]:
abs(-23.32)

23.32

In [69]:
makes10(10,9)

True

In [70]:
abs(-12)

12

In [71]:
#input()

In [72]:
#a,b,negative=input().split()

In [73]:
#x, y, z = input("Enter a three value: ").split() 
#print("Total number of students: ", x) 
#print("Number of boys is : ", y) 
#print("Number of girls is : ", z) 
#print()

In [74]:
string1='abc abcd'
string2='abc abcd'

In [75]:
string1==string2

True

In [76]:
string1=='abc abcd'

True

In [77]:
string1.find('b')

1

In [78]:
string1.replace('abc','ab')

'ab abd'

In [79]:
string1

'abc abcd'

In [80]:
string3='not abcd'

In [81]:
string3.find('not')

0

In [82]:
def oooh(string3):
    return string3

In [83]:
def oooh(string3):
    if string3.find('not')==0:
        return string3
    else: return 'not '+string3

In [84]:
def not_string(str):
  if len(str) >= 3 and str[:3] == "not":
    return str
  return "not " + str

In [85]:
not_string('not abcd')

'not abcd'

In [86]:
not_string(' abcd')

'not  abcd'

In [87]:
string3[:]

'not abcd'

In [88]:
string3[1:]

'ot abcd'

In [89]:
string3[::2]

'ntac'

In [90]:
string3[:3:]

'not'

In [91]:
str={1,2,3,4,5}

In [92]:
str.pop()

1

In [93]:
str.pop()

2

In [94]:
string3.find('o')

1

In [95]:
string3.strip('not')

' abcd'

In [96]:
string4='abcdefg'

In [97]:
string4.strip('b')

'abcdefg'

In [98]:
def missing_char(str, n):
  return str[:n]+str[n+1:]

In [99]:
z=len(string4)

In [100]:
len(string4)

7

In [101]:
string4[z-1]

'g'

In [102]:
string4.replace('a','e')

'ebcdefg'

In [103]:
h=string4.replace(string4[0],string4[z-1])

In [104]:
h

'gbcdefg'

In [105]:
h=string4.replace(string4[z-1],string4[0])

In [106]:
h

'abcdefa'

In [107]:
def front_back(string4):
    n=len(string4)
    return string4[n-1]+string4[1:n-1]+string4[0]

In [108]:
front_back('code')

'eodc'

In [109]:
def front_back(str):
    n=len(str)
    return str[n-1]+str[1:n-1]+str[0]

In [110]:
front_back('coder')

'rodec'

In [111]:
def front_back(str):
  if len(str) <= 1:
    return str
  else:
    return str[len(str)-1]+str[1:len(str)-1]+str[0]

In [112]:
print("1\r2\r3")

3

In [113]:
string4[:3]*2

'abcabc'

In [114]:
string4.count('c')

1

Given a non-empty string like "Code" return a string like "CCoCodCode".

In [115]:
def code(str):
    result=''
    for i in range(len(str)):
        result+=str[:i+1]
    print(result)

In [116]:
code('code')

ccocodcode

In [117]:
h

'abcdefa'

In [118]:
h[-2:]

'fa'

In [119]:
h.count('a')

2

In [120]:
a='abjfhabbkksab'

In [121]:
a.count('ab')

3

In [122]:
a='axxxaxxaxx'

In [123]:
a.count('xx')

3

In [124]:
str='hi'
if len(str)<3:
    print('0')
else:
    count=-1
    for i in range(len(str)-1):
        if str[i]==str[-2] and str[i+1]==str[-1]:
            count+=1
    print(count)

0

In [125]:
if False:
    print('a')
else:
    print('b')

b

In [126]:
nums=[1,2,3,4,5,4,6,4,8]
nums.count(4)

3

In [127]:
nums[:4]

[1, 2, 3, 4]

In [128]:
nums[:4].count(4)

1

In [129]:
def array_front9(nums):
  if nums[:4].count(9)>0:
    return True
  elif nums[:4].count(9)==0:
    return False

In [130]:
def array_front9(nums):
  # First figure the end for the loop
  end = len(nums)
  if end > 4:
    end = 4
  
  for i in range(end):  # loop over index [0, 1, 2, 3]
    if nums[i] == 9:
      return True

  return False

In [131]:
nums[:3]

[1, 2, 3]

In [132]:
nums==[2,3,4]

False

In [133]:
len(nums)

9

In [134]:
nums[1:4]

[2, 3, 4]

In [135]:
a123=0
for i in range(len(nums)-1):
    if nums[i:i+3]==[1,2,3]:
        a123=1
        break
if a123==1:
    print('True')
else:
    print('False')

True

In [136]:
def array123(nums):
  # Note: iterate with length-2, so can use i+1 and i+2 in the loop
  for i in range(len(nums)-2):
    if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
      return True
  return False

In [137]:
(min(len(string4),len(string3)))
#min(2,1)

7

In [138]:
def string_match(a, b):
    count=0
    for i in range(min(len(a),len(b))):
      if a[i]==b[i] and a[i+1]==b[i+1]:
        count+=1
    return count

In [139]:
string4[-2:]

'fg'

In [140]:
string4
string3

'not abcd'

In [141]:
min(string3,string4)

'abcdefg'

In [142]:

a='Hello'
b='hi'
min(a,b)+max(a,b)+min(a,b)

'HellohiHello'

In [143]:
min(a,b)# min= last in dictionary

'Hello'

In [144]:
max(a,b) #max=1st in dictionary

'hi'

In [145]:
string3>string4

True

In [146]:
'hi'>'Hello'

True

In [147]:
'aaa'<'b'

True

In [148]:
if len(a)>len(b):
    print(b+a+b)
else: print(a+b+a)

hiHellohi

In [149]:
a=1<2

In [150]:
a

True

In [151]:
a>2

False

In [152]:
a==1

True

In [153]:
1<2<3

True

In [154]:
1>2<3

False

In [155]:
1<2>3

False

In [156]:
my_list =[1,2,3,4,5,6,7,8,9,10]

In [157]:
print(list)

<class 'list'>

In [158]:
sum=0
for number in my_list:
    sum+=number
    if number%2==0:
        print('even number:{}'.format(number))
    else:print(f'odd number:{number}')
print('sum of numbers is:'.format(sum))
print(number)

odd number:1
even number:2
odd number:3
even number:4
odd number:5
even number:6
odd number:7
even number:8
odd number:9
even number:10
sum of numbers is:
10

In [159]:
for letter in 'sanrookie':
    print(letter+' 23334 '+letter)

s 23334 s
a 23334 a
n 23334 n
r 23334 r
o 23334 o
o 23334 o
k 23334 k
i 23334 i
e 23334 e

In [160]:
#print(number+'21') #unsupported operand type(s) for +: 'int' and 'str'

In [161]:
list_tup=[(1,2),(2,3),(3,4),(4,5)]
len(list_tup)

4

In [162]:
for _ in list_tup:
    print(_)

(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [163]:
for (a,b) in list_tup:
    print(f'{a} {b}')

1 2
2 3
3 4
4 5

In [164]:
for a,b in list_tup:
    print(a)

1
2
3
4

In [165]:
d={'a':1,'b':2,'c':3}
for i in d:
    print(i)

a
b
c

In [166]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [167]:
d.values()

dict_values([1, 2, 3])

In [168]:
for i in d.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [169]:
for i in d.values():
    print(i)

1
2
3

In [170]:
a='abcdef'
enumerate(a,1)

In [171]:
list(enumerate(a))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

In [172]:
list(enumerate(c))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 1), (5, 2), (6, 3), (7, 4)]

In [173]:
tuple(enumerate(a,2))

((2, 'a'), (3, 'b'), (4, 'c'), (5, 'd'), (6, 'e'), (7, 'f'))

In [174]:
def sum3(nums):
  sum=0
  for i in nums:
    sum+=i
  return sum

In [175]:
sum3([1,2,3,4,5])

15

In [176]:
my_list=[1,2,3,4,5,6,7,8,9,10]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [177]:
for i in my_list:
    if i<len(my_list)-1:
        my_list[i],my_list[i+1]=my_list[i+1],my_list[i]
    print(my_list)

[1, 3, 2, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 2, 5, 4, 6, 7, 8, 9, 10]
[1, 3, 5, 2, 4, 6, 7, 8, 9, 10]
[1, 3, 2, 5, 4, 6, 7, 8, 9, 10]
[1, 3, 2, 5, 6, 4, 7, 8, 9, 10]
[1, 3, 2, 5, 4, 6, 7, 8, 9, 10]
[1, 3, 2, 5, 4, 6, 7, 9, 8, 10]
[1, 3, 2, 5, 4, 6, 7, 9, 8, 10]
[1, 3, 2, 5, 4, 6, 7, 9, 10, 8]
[1, 3, 2, 5, 4, 6, 7, 9, 8, 10]

In [178]:
i=0
while i<len(my_list)-1:
    my_list[i],my_list[i+1]=my_list[i+1],my_list[i]
    i+=1
    print(my_list)

[3, 1, 2, 5, 4, 6, 7, 9, 8, 10]
[3, 2, 1, 5, 4, 6, 7, 9, 8, 10]
[3, 2, 5, 1, 4, 6, 7, 9, 8, 10]
[3, 2, 5, 4, 1, 6, 7, 9, 8, 10]
[3, 2, 5, 4, 6, 1, 7, 9, 8, 10]
[3, 2, 5, 4, 6, 7, 1, 9, 8, 10]
[3, 2, 5, 4, 6, 7, 9, 1, 8, 10]
[3, 2, 5, 4, 6, 7, 9, 8, 1, 10]
[3, 2, 5, 4, 6, 7, 9, 8, 10, 1]

In [179]:
my_list[:-1]

[3, 2, 5, 4, 6, 7, 9, 8, 10]

In [180]:
range(5)

range(0, 5)

In [181]:
list(range(5))

[0, 1, 2, 3, 4]

In [182]:
list(range(2,10,2))

[2, 4, 6, 8]

In [183]:
c

[1, 2, 3, 4, 1, 2, 3, 4]

In [184]:
b=(9,8,7,6,5,4,3,2)

In [185]:
list(zip(a,b,c))

[('a', 9, 1), ('b', 8, 2), ('c', 7, 3), ('d', 6, 4), ('e', 5, 1), ('f', 4, 2)]

In [186]:
'ab' in a

True

In [187]:
4 in c

True

In [188]:
4 is b

False

In [189]:
celsius=[10,20,30,40,50,60,70]
fahrenheit=[degree*9/5-32 for degree in celsius]

In [190]:
fahrenheit

[-14.0, 4.0, 22.0, 40.0, 58.0, 76.0, 94.0]

In [191]:
x1,x2,x3=4,3,5
y1,y2,y3=-6,-2,2
area=1/2*(x1*(y2-y3)+x2*(y3-y1)+x3*(y1-y2))
area

-6.0

In [192]:
#p,h=input('p aur h bata jaldi:')
#tan=int(p)/int(h)
#tan

In [193]:
my_list.reverse()

In [194]:
my_list

[1, 10, 8, 9, 7, 6, 4, 5, 2, 3]

In [195]:
List=[x for x in my_list]
List

[1, 10, 8, 9, 7, 6, 4, 5, 2, 3]

In [196]:
big = max(nums[0], nums[2])
nums[0] = big
nums[1] = big
nums[2] = big
nums

[3, 3, 3, 4, 5, 4, 6, 4, 8]

In [197]:
nums

[3, 3, 3, 4, 5, 4, 6, 4, 8]

# prime no

In [198]:
prime=[]
for n in range(100):
    i=2
    while i<=n:
        if n%i==0:
            break
        i+=1
    if i==n:
        prime.append(n)

In [199]:
5//3

1

In [200]:
prime

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

# N = 2^(p-1)(2^p -1) where p is a prime for which 2^p -1 is a Mersenne prime.

perfect no

In [201]:
for p in prime:
    n=2**(p-1)*(2**p-1)
    print(n)

6
28
496
8128
2096128
33550336
8589869056
137438691328
35184367894528
144115187807420416
2305843008139952128
9444732965670570950656
2417851639228158837784576
38685626227663735544086528
9903520314282971830448816128
40564819207303336344294875201536
166153499473114483824745506383331328
2658455991569831744654692615953842176
10889035741470030830754200461521744560128
2787593149816327892690784192460327776944128
44601490397061246283066714178813853366747136
182687704666362864775460301858080473799697891328
46768052394588893382517909811217778170473142550528
191561942608236107294793378084303638130997321548169216
12554203470773361527671578846336104669690446551334525075456

In [202]:
a

'abcdef'

In [203]:
b

(9, 8, 7, 6, 5, 4, 3, 2)

In [204]:
c

[1, 2, 3, 4, 1, 2, 3, 4]

In [205]:
d

{'a': 1, 'b': 2, 'c': 3}

In [206]:
h

'abcdefa'

In [207]:
e=[4,3,5,2,6]

In [208]:
list(zip(c,e))

[(1, 4), (2, 3), (3, 5), (4, 2), (1, 6)]

In [209]:
g=[]
for i in e:
    g.append(i)
g

[4, 3, 5, 2, 6]

In [210]:
h=[a[1],b[1]]

In [211]:
h

['b', 8]

In [212]:
def abc(s,a):
    print(s+a)

In [213]:
print('{:,}'.format(1234567890))

1,234,567,890

In [214]:
c

[1, 2, 3, 4, 1, 2, 3, 4]

In [215]:
c[1] in c

True

In [216]:
c.remove(3)

In [217]:
c.index(2)

1

In [218]:
c

[1, 2, 4, 1, 2, 3, 4]

In [219]:
z=14

In [220]:

def no_teen_sum(a, b, c):
    def fix_teen(n):
        z=[13,14,17,18,19]
        if n in z:
            return 0
        else:
            return n
    return fix_teen(a)+fix_teen(b)+fix_teen(c)

In [221]:
no_teen_sum(1,2,3)

6

In [222]:
str

'hi'

In [223]:
def round_sum(a, b, c):
  def round10(num):
    if num%10 >= 5:
      return num+(10-num%10)
    else:
      return num -num%10
  return round10(a)+round10(b)+round10(c)

In [224]:
round_sum(125,123,13)

260

In [225]:
1355%10

5

In [226]:
def double_char(str):
  s=''
  for i in str:
    s=s+i*2
    print(i,s)

In [227]:
def double_char(str):
  result = ""
  for i in range(len(str)):
    result += str[i] + str[i]
  return result

In [228]:
double_char('The')

'TThhee'

In [229]:
a='abchiahabchi'

In [230]:
count=0
for i in range(len(a)-1):
    if a[i]=='h' and a[i+1]=='i':
        count+=1
print(count)

2

In [231]:
def count_hi(str):
  sum = 0
  ## Loop to length-1 and access index i and i+1
  ## in the loop.
  for i in range(len(str)-1):
    if str[i:i+2] == 'hi':
      sum = sum + 1
  return sum

In [232]:
def count_cat(str):
  sum = 0
  for i in range(len(str)-1):
    if str[i:i+3] == 'cat':
      sum = sum + 1
  return sum
def count_dog(str):
  sum = 0
  for i in range(len(str)-1):
    if str[i:i+3] == 'dog':
      sum = sum + 1
  return sum
def cat_dog(str):
  return count_cat(str)==count_dog(str)

In [233]:
a[2]

'c'

In [234]:
def count_code(str):
  count=0
  for i in range(len(str)-3):
    if str[i:i+2]=='co' and str[i+3]=='e':
      count+=1
  return count

In [235]:
a.endswith('hi')

True

In [236]:
def end_other(a, b):
  #return a.lower() in b.lower() or b.lower() in a.lower()
  return a.lower().endswith(b.lower()) or b.lower().endswith(a.lower())

In [237]:
a='sb.c12.bc'

In [238]:
dot=a.find('.')

In [239]:
dot

2

In [240]:
a[dot+1:]

'c12.bc'

In [241]:
a[dot+1:].find('.')

3

In [242]:
a[2+2:]

'12.bc'

In [243]:
def xyz_there(str):
  for i in range(len(str)):
    if str[i]=='.':
      break
    elif str[i:i+3]=='xyz':
      return True 
    else:
      return False

In [244]:
def xyz_there(str):
    dot=str.find('.')
    if dot==-1:
        return 'xyz' in str
    elif dot!=-1:
        if 'xyz' in str[:dot]:
            return True
        while str[dot+1:].find('.')!=-1:
            if  '.xyz' in str[dot+1:]==False:
                return True
        else:
            dot=dot+str[dot+1:].find('.')+2
    else:
        return 'xyz' in str[dot+2:]

In [245]:
xyz_there('asdfadxyz')

True

In [246]:
c.remove(max(c))

In [247]:
c=[1,2,3,4,3,2,5,0]

In [248]:
c[0]=13
c[4]=13

In [249]:
c=[13,0,13]

In [250]:
#sum of list except when item=13 will not be counted and item+1 also be not counted
def sum13(nums):
  if len(nums)==0:
    return 0
  if nums[-1]==13:
    nums[-1]=0
  for i in range(len(nums)-1):
    if nums[i]==13:
      nums[i]=0
      nums[i+1]=0
  return sum(nums)

In [251]:
def sum13(nums):
    nums = nums[:]
    while 13 in nums:
        i = nums.index(13)
        del nums[i:i+2]
    return sum(nums)

In [252]:
def sum67(nums):
    while 6 in nums:
        i=nums.index(6)
        j=nums.index(7)
        del nums[i:j+1]
    return sum(nums)

In [253]:
a

'sb.c12.bc'

In [254]:
a[::-1]

'cb.21c.bs'

In [255]:
c

[13, 0, 13]

In [256]:
z=[0]

In [257]:
z[0] in c

True

In [258]:
c.remove(z[0])

In [259]:
c

[13, 13]

In [260]:
def array_diff(a, b):
    if a!=[] and b!=[]:
        while b[0] in a:
            a.remove(b[0])
    return a
    #your code here

In [261]:
array_diff([],[1,2])

[]

In [262]:
[] in [1,2,2]

False

In [263]:
def sum67(nums):
  for i in range(len(nums)-1):
    if nums[i]==6:
      j=nums.index(7)
      #nums[i:j+1]=0
    #i=nums.index(6)
      del nums[i:j+1]
  return sum(nums)

In [264]:
def sum67(nums):
        state=0
        s=0
        for n in nums:
                if state == 0:
                        if n == 6:
                                state=1
                        else:
                                s+=n
                else:
                        if n == 7:
                                state=0
        return s

In [265]:
def sum67(nums):
    flag=False
    sum=0

    for num in nums:
        if(num==6):                  #Turn the flag on if the number is 6
            flag=True
            continue
        if(num==7 and flag is True): #Turn the flag Off when 7 is seen after 6
            flag=False
            continue
        if(flag is False):           #Keep on adding the nums otherwise
           sum+=num
    return sum

In [266]:
sum67([1,2,3,7])

13

In [267]:
a[1:].index('b')

0

In [268]:
def sum67(nums):
  for i in nums:
    if i==6:
      k=nums.index(6)
      l=j=nums.index(7)
      while k>j:
        j=nums[j+1:].index(7)
        del nums[k:l+j+2]
      else:
        del nums[k:j+1]
  return sum(nums)

In [269]:
#sum67([2, 7, 6, 2, 6, 7, 2, 7])

In [270]:
def has22(nums):
  
  return 2 in nums and nums[nums.index(2)+1]==2

In [271]:
has22([1, 2, 3, 2])

False

In [272]:
def has22(nums):
  for i in range(len(nums)):
    nums.append('_')
    if nums[i]==2 and nums[i+1]==2:
      return True
  return False

In [273]:
z='abcd efg hi'

In [274]:
x=list(z.split())
x

['abcd', 'efg', 'hi']

In [275]:
max(len(x[1]),2)

3

In [276]:
z='abc!@#$% abcd hlskalo'

In [277]:
  x=list(z.split())
  max=''
  for i in x:
    if i.isalpha:
      if len(i)>len(max):
          max=i
    else:
      continue
max

'abc!@#$%'

In [278]:
'asd!@'.isalpha()

False

# replaceing string letters to further alphabet

In [279]:
def LetterChanges(str):
    string=''
    list=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
    for i in range(len(str)):
        if str[i] in list:
            string+=(list[list.index(str[i])+1])
        else:
            string+=str[i]
    return string

#print(LetterChanges(input()))

In [280]:
### replaceing string letters to further alphabet and capitalising vowels
def LetterChanges(str):
    string=''
    list=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
    list1=['a','e','i','o','u']
    for i in range(len(str)):
      if str[i] in list:
        if (list[list.index(str[i])+1]) in list1:
            string+=(list[list.index(str[i])+1]).upper()
        else:
            string+=(list[list.index(str[i])+1])
      else:
            string+=str[i]
    return string

#print(LetterChanges(input()))

In [281]:
def LetterChanges(str): 
    newstr = ""
    outstr = ""
    for char in str:
      if char.isalpha():
        if char != "z":
          newstr = newstr + chr(ord(char)+1)
        else:
          newstr = newstr + "a"
      else:
        newstr = newstr + char
    
    for char in newstr:
      if (char == "a") or (char == "e") or (char == "i") or (char == "o") or (char == "u"):
        char = char.upper()
      outstr = outstr + char
    
    return outstr
    
# keep this function call here  
#print(LetterChanges(input()))

In [282]:
c.index(13)

0

In [283]:
c=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [284]:
(c[c.index(a[1])+1]).upper()

'C'

In [285]:
z=[]

In [286]:
a[1].upper()

'B'

In [287]:
ord('a')

97

In [288]:
123//60

2

In [289]:
def a(i):
    return '{}:{}'.format(i,i)
#print(a(input()))

In [290]:
45//60

0

# scal balancing

In [291]:
import itertools
def ScaleBalancing(a):
    x = list(int(l) for l in a[0][1:-1].split(','))
    y = list(int(l) for l in a[1][1:-1].split(','))
    for a in y:
        if x[0] + a == x[1] or x[1] + a == x[0]:
            return str(a)
    for pair in itertools.combinations(y, 2):
        if pair[0] + x[0] == x[1] + pair[1] or pair[0] + x[1] == pair[1] + x[0] or pair[0] + pair[1] + x[0] == x[1] or pair[0] + pair[1] + x[1] == x[0]:
            l, i = min(pair), max(pair)
            return ','.join([str(l), str(i)])
    return 'not possible'
#print (ScaleBalancing(input()))

In [292]:
a='abcdjfk'

# BUBBLE SORTUNG LETTERS

In [293]:
def AlphabetSoup(str):
    string=''
    lit=list(str)
    n=len(lit)
    for i in range(n):
        for j in range(1,n-i):
            if ord(lit[j])<ord(lit[j-1]):
                lit[j],lit[j-1]=lit[j-1],lit[j]    
    for i in lit:
        string+=i
    return string
#print(AlphabetSoup(input()))

In [294]:
ord('}')

125

In [295]:
chr(123)

'{'

In [296]:
a='zxcvbnm'
sorted(a)

['b', 'c', 'm', 'n', 'v', 'x', 'z']

In [306]:
'asdfdgfbg'.capitalize
'AasdASDFf'.casefold()
'asdfg'.center(1)
'rtyghj'.encode()

b'rtyghj'

In [311]:
def reverse_string(text):
    a=text.split()
    b=a[::-1]
    return a,b
reverse_string('asdfgh hd jhgf')

(['asdfgh', 'hd', 'jhgf'], ['jhgf', 'hd', 'asdfgh'])

In [2]:
a=[1,2,3,4,5,6]
sum(a)

21